@import 'selfcare-ui/src/_variables.scss';

.c-categories {
  margin: spacing(extra_large) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__section-content {
    margin: spacing(small) 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__section-card {
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid general(border, light);
    }
  }
}
