@import 'selfcare-ui/src/_variables.scss';

.c-get-help-overlay {
  background-color: general(canvas, white);
  bottom: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: layer(above);

  &-enter-active {
    height: 100%;
    opacity: 1;
    transition: height 750ms;

    // [1]
    .c-get-help-overlay__content {
      display: block;
    }
  }

  &-enter-done, &-exit {
    height: 100%;
    opacity: 1;
    overflow-y: auto;
    pointer-events: all;

    // [2]
    .c-get-help-overlay__content {
      display: block;
    }
  }

  &-exit-active {
    opacity: 1;
    transition: height 500ms;
    height: 0;
  }

  &__container {
    max-width: $spacing-max-width;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }

  &__content {
    padding-top: spacing(extra_extra_large);
    padding-bottom: spacing(extra_large);
    padding-left: spacing(medium);
    padding-right: spacing(medium);

    // Because of the way that Aviture implemented
    // the "sticky" header we cannot have elements beneath the c-page-layout__scroll-pane (in page.layout.jsx) that have a scrolling bar inside of them.
    // If we do then scrolling can get messy in some cases. 
    // So I set the content here to `display:none` until it is animated by CSSTransition. See [1] and [2].
    display: none;

    @media screen and (min-width: $spacing-max-width) {
      padding-left: spacing(large);
      padding-right: spacing(large);
    }
  }
}


