@import 'selfcare-ui/src/_variables.scss';

.c-product-payment {
    &__notification {
        margin-bottom: spacing(large);
    }
    &__pay-fail-header {
        margin-bottom: spacing(medium);
    }
    &__retry-button {
        @media screen and (max-width: $mq-large-start) {
            width: 100%;
        }
        
    }
}
