@import 'selfcare-ui/src/_variables.scss';

.c-marketing-callout {
  display: flex;
  flex-direction: row;
  min-height: $marketing-callout-min-height;

  &__title {
    p {
      margin: 0;
    }
  }

  &__image {
    width: 50%;
    background-size: cover;
  }

  &__content-container {
    width: 50%;
    padding: spacing(extra_large);
  }

  &__content {
    max-width: $marketing-callout-content-width;
  }

  &__html-content {
    padding-top: spacing(medium);
  }

  &__detail-link {
    padding-top: spacing(medium);
  }

  @media screen and (min-width: $mq-large-start) {
    &:nth-child(odd) {
      flex-direction: row-reverse;

      .c-marketing-callout__content {
        float: right;
      }
    }
  }

  @media screen and (max-width: $mq-large-start) {
    flex-direction: column-reverse;

    &__image {
      width: 100%;
      min-height: 0.75 * $marketing-callout-min-height;
    }

    &__content-container {
      width: 100%;
      padding-left: spacing(medium);
      padding-right: spacing(medium);
      padding-top: spacing(extra_large);
      padding-bottom: spacing(large);
    }
  }

  &__broadband-button {
    @media screen and (max-width: $mq-medium-start) {
      width: 100%;
    }

  }
}