@import 'selfcare-ui/src/_variables.scss';

.c-resetPassword {
  margin-right: auto;
  margin-left: auto;

  & &__main {
    padding-top: 0;
  }
  
  & &-formErrors {
    margin-bottom: spacing(medium);
  }

  & &-returnLoginLink {
    padding-top: spacing(medium);
  }

  & &-submit {
    margin-top: spacing(large);
  }

  &__password-requirement-list {
    padding-left: spacing(small);
    margin-top: 0
  }

  @media screen and (max-width: $mq-large-start) {
    & &-submit {
      width: 100%;
    }

    & &-returnLoginLink {
      text-align: center;
    }
  }
}
