@import '../../_variables.scss';

.c-loading-indicator-containment {
    position: relative;
}

.c-loading-indicator {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: default;
    z-index: layer(loading);

    &.is-loading {
      display: block;
    }

    .c-loading-indicator__spinner {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        cursor: default;
        z-index: layer(above);
        color: general(accent, primary);
    }
}
