@import 'selfcare-ui/src/_variables.scss';

.c-more-information-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: spacing(small);

    &__item {
        display: grid;
        align-items: start;
        grid-template-columns: 50px 1fr;
    }

    @media screen and (min-width: $mq-large-start) {
        &__item-body {
            max-width: 300px;
        }
    }

    &__item-title {
        padding-bottom: 0;
    }

    &__icon {
        padding-right: spacing(small);
        color: general(text, mid);
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: $mq-large-start) {
        grid-template-columns: 1fr;
    }
}