@import 'selfcare-ui/src/_variables.scss';

.c-forgot-password {
  .c-recaptcha {
    margin: spacing(large) 0 spacing(small);

    // TODO: .rc-anchor-pt, which contains the privacy terms text inside the Captcha, behaves strange in mobile resolution and its style cannot be modificed
    @media screen and (max-width: $mq-medium-start) {
        margin: spacing(large) 0 0;
        transform: scale(0.92);
        -webkit-transform: scale(0.92);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
  }

  &__form-errors {
    margin-bottom: spacing(medium);

    .c-notice__body{
      margin-top: 0;
    }
  }

  &__error-link {
    color: general(text, white);
    text-decoration: underline;
    vertical-align: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  &__button-group {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__button-group--stacked {
    flex-direction: column;
    > * {
      width: 100%;
    }
  }

  &__banner {
    font-weight: weight(light);
    margin-bottom: spacing(medium);
    text-align: left;
  }

  &__return {
    margin-top: spacing(medium);
    text-align: center;
  }

  &__submit {
    margin-top: spacing(large);
  }
}
